x-airflow-common: &airflow-common
  image: apache/airflow:2.10.5
  user: "${HOST_UID}:0"
  env_file:
    - .env
  environment: &airflow-env
    AIRFLOW__CORE__EXECUTOR: LocalExecutor
    AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres/airflow_db
    AIRFLOW_CONN_WEBPAGE_POSTGRES_DB: postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/webpage_db
    AIRFLOW__CORE__LOAD_DEFAULT_CONNECTIONS: "False"
  volumes:
    - ./airflow/dags:/opt/airflow/dags:ro
    - ./airflow/logs:/opt/airflow/logs
    - ./airflow/plugins:/opt/airflow/plugins
    - ./airflow/requirements.txt:/requirements.txt
  networks:
    - ${WEBPAGE_NETWORK}
  depends_on:
    airflow-init:
      condition: service_started
  restart: unless-stopped

services:
  airflow-webserver:
    <<: *airflow-common
    container_name: airflow_webserver
    command: [ "bash", "-c", "pip install -r /requirements.txt && exec airflow webserver" ]
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8080/health"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 5s

  airflow-scheduler:
    <<: *airflow-common
    container_name: airflow_scheduler
    command: [ "bash", "-c", "pip install -r /requirements.txt && exec airflow scheduler" ]
    volumes:
      - ./airflow/dags:/opt/airflow/dags:ro
      - ./airflow/logs:/opt/airflow/logs
      - ./airflow/plugins:/opt/airflow/plugins
      - ./airflow/requirements.txt:/requirements.txt
      - ./inputs:/inputs

  airflow-cli:
    <<: *airflow-common
    container_name: airflow_cli
    command: ["bash"]

  airflow-init:
    image: apache/airflow:2.10.5
    container_name: airflow_init
    user: "${HOST_UID}:0"
    env_file:
      - .env
    environment:
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres/airflow_db
    entrypoint: /bin/bash
    command:
      - -c
      - |
        airflow db init && \
        airflow users create \
          --username airflow \
          --firstname Air \
          --lastname Flow \
          --role Admin \
          --email airflow@example.com \
          --password airflow || echo "User already exists"
    restart: on-failure
    networks:
      - webpage_network

networks:
  webpage_network:
    name: webpage_network
    external: true
